<turbo-frame id="<%= @frame_id %>" target="_top">
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <%= content %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</turbo-frame>